h1 {
    text-align: center;
}

#searches {
    display: flex;
}

#conditions {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    /* text-align: center; */
}

.forecastIcon {
    width: 75px;
    height: auto;
}

#cityInput {
    box-sizing: border-box;
    display: flex;
    float: left;
    /* flex-grow: 1; */
}
#searchBtn {
    float: left;
}

img {
    background-color: skyblue;
    margin: 5px;
}

.forecast {
    text-align: center;
    /* display: flex; */
    /* flex-grow: 1; */
}

#forecast {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

#buttons {
    margin: 10px 0;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.card {
    text-align: left;
}

/*
.againWeather {
    box-sizing: border-box;
    width: 15%;
    margin: 1%;
} */