h1 {
    text-align: center;
}

#conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-outline-info {
    text-align: left;
}

.forecastIcon {
    width: 75px;
    height: auto;
}

.form-control {
    margin-right: 0px;
}

#cityInput {
    box-sizing: border-box;
    margin: 0 0 0 0;
}


img {
    background-color: #5bc0de;
    margin: 5px;
}

.btn-outline-info {
    color: #5bc0de;
    outline-color: #5bc0de;
    border-color: #5bc0de;
}

.btn-outline-info:hover {
    background-color: #5bc0de;
    color: white;
    border-color: #5bc0de;
}

.forecast {
    text-align: center;
}

.card {
    text-align: left;
}