h1 {
    text-align: center;
}

#conditions {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    /* text-align: center; */
}

/* .holding {
    padding: 10px;
} */

.btn-outline-info {
    text-align: left;
}

.forecastIcon {
    width: 75px;
    height: auto;
}

.form-control {
    margin-right: 0px;
}

#cityInput {
    box-sizing: border-box;
    margin: 0 0 0 0;
    /* display: flex;
    float: left; */
    /* flex-grow: 1; */
}


img {
    background-color: skyblue;
    margin: 5px;
}

.forecast {
    text-align: center;
    /* display: flex; */
    /* flex-grow: 1; */
}
/* 
#forecast {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
} */

.card {
    text-align: left;
}

/*
.againWeather {
    box-sizing: border-box;
    width: 15%;
    margin: 1%;
} */